@page
@model Agenda_Web.Pages.Recepcionista.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <!-- Adicione cabeçalhos para outros atributos do recepcionista -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recepcionista in Model.Recepcionistas)
        {
                <tr>
                    <td>@recepcionista.Nome</td>
                    <!-- Adicione células para outros atributos do recepcionista -->
                    <td>
                        <a asp-page="./Edit" asp-route-id="@recepcionista.IdRecepcionista">Editar</a> |
                        <a asp-page="./Delete" asp-route-id="@recepcionista.IdRecepcionista">Excluir</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
