@page
@model Agenda_Web.Pages.Especialidade.CreateModel
@{
}

<h1>Cadastrar Especialidade</h1>

<form method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="Especialidade.Nome" asp-for="Especialidade.Nome" required>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" class="form-control" id="descricao" name="Especialidade.Descricao" asp-for="Especialidade.Descrição" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
