@page "{id:int}"
@model Agenda_Web.Pages.Especialidade.DeleteModel
@{
}

<head>
    <title>Excluir Especialidade</title>
    <!-- Adicione os links para os arquivos CSS e JavaScript do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Excluir Especialidade</h1>
        <p>Tem certeza de que deseja excluir a especialidade abaixo?</p>

        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.Especialidade.IdEspecialidade</dd>

            <dt class="col-sm-2">Nome:</dt>
            <dd class="col-sm-10">@Model.Especialidade.Nome</dd>

            <dt class="col-sm-2">Descrição:</dt>
            <dd class="col-sm-10">@Model.Especialidade.Descrição</dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Especialidade.IdEspecialidade" />
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a class="btn btn-secondary" href="/Especialidade/Index">Cancelar</a>
        </form>
    </div>
</body>
