@page
@model Agenda_WebConsultas.Pages.Consultas.CreateModel

<h1>Criar Consulta</h1>

<h1>Lista de Médicos</h1>




<form method="post">
@*    <div class="form-group">
        <label for="MedicoId">Médico:</label>
        <select class="form-control" id="MedicoId" asp-for="Consulta.Medico.IdMedico" required>
            <option value="">Selecione um médico</option>
            @foreach (var medico in Model.Medicos)
            {
                <option value="@medico.IdMedico">@medico.Nome</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="PacienteId">Paciente:</label>
        <select class="form-control" id="PacienteId" asp-for="Consulta.Paciente.IdPaciente" required>
            <option value="">Selecione um paciente</option>
            @foreach (var paciente in Model.Pacientes)
            {
                <option value="@paciente.IdPaciente">@paciente.Nome</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label for="DataHora">Data e Hora:</label>
        <input type="datetime-local" class="form-control" id="DataHora" asp-for="Consulta.DataHora" required />
    </div>

    <div class="form-group">
        <label for="Tipo">Tipo:</label>
        <select class="form-control" id="Tipo" asp-for="Consulta.Tipo" required>
            <option value="Presencial">Presencial</option>
            <option value="Online">Online</option>
        </select>
    </div>
*@


    <button type="submit" class="btn btn-primary">Criar Consulta</button>
</form>

<a class="btn btn-secondary" href="/Consulta/Index">Voltar para a Lista de Consultas</a>
