@page
@model Agenda_Web.Pages.Medico.CreateModel

<form method="post">
    <div class="form-group">
        <label for="Nome">Nome:</label>
        <input type="text" class="form-control" id="Nome" asp-for="Medico.Nome">
    </div>
    <div class="form-group">
        <label for="EspecialidadeId">Especialidade:</label>
        <select class="form-control" id="EspecialidadeId" asp-for="Medico.EspecialidadeId">
            <option value="">Selecione uma especialidade</option>
            @foreach (var especialidade in Model.Especialidades)
            {
                    <option value="@especialidade.Id">@especialidade.Nome</option>
            }
        </select>
    </div>
    <!-- Adicione os campos restantes como número de registro profissional, horários disponíveis, etc. -->

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
