@page "{id:int}"
@model Agenda_Web.Pages.Medico.DeleteModel
@{
}
<head>
    <title>Excluir Médico</title>
    <!-- Adicione os links para os arquivos CSS e JavaScript do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   
        <div class="container mt-5">
            <h1>Excluir Médico</h1>
            <p>Tem certeza de que deseja excluir o médico abaixo?</p>

            <dl class="row">
                <dt class="col-sm-2">ID:</dt>
                <dd class="col-sm-10">@Model.Medico.IdMedico</dd>

                <dt class="col-sm-2">Nome:</dt>
                <dd class="col-sm-10">@Model.Medico.Nome</dd>

                <dt class="col-sm-2">Especialidade:</dt>
                <dd class="col-sm-10">@Model.Medico.Especialidade</dd>

                <dt class="col-sm-2">Número de Registro Profissional:</dt>
                <dd class="col-sm-10">@Model.Medico.NumeroRegistroProfissional</dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Medico.IdMedico" />
                <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                <a class="btn btn-secondary" href="/Medico/Index">Cancelar</a>
            </form>
        </div>
    
</body>