@page
@model Agenda_Web.Pages.Medico.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <!-- Adicione cabeçalhos para outros atributos do médico -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medico in Model.Medicos)
        {
                <tr>
                    <td>@medico.Nome</td>
                    <td>@medico.Especialidade.Nome</td>
                    <!-- Adicione células para outros atributos do médico -->
                    <td>
                        <a asp-page="./Edit" asp-route-id="@medico.IdMedico">Editar</a> |
                        <a asp-page="./Delete" asp-route-id="@medico.IdMedico">Excluir</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
