@page
@model Agenda_Web.Pages.Paciente.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <!-- Adicione cabeçalhos para outros atributos do paciente -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.Pacientes)
        {
                <tr>
                    <td>@paciente.Nome</td>
                    <!-- Adicione células para outros atributos do paciente -->
                    <td>
                        <a asp-page="./Edit" asp-route-id="@paciente.IdPaciente">Editar</a> |
                        <a asp-page="./Delete" asp-route-id="@paciente.IdPaciente">Excluir</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
