@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Agendamento de Consultas Médicas</h1>
    <figure class="container-img">
        <img src="~/images/consulta.jpg" alt="consulta" width="250" height="250" class="center">
    </figure>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
