@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Agendamento de Consultas Médicas</h1>
    <figure class="container-img">
        <img src="~/images/consulta.jpg" alt="consulta" width="250" height="250" class="center">
    </figure>
    

    <!-- Links para as páginas desejadas -->
    <ul>
        <li><a href="/Medico">Médico</a></li>
        <li><a href="/Especialidade">Especialidade</a></li>
        <li><a href="/Consulta">Consulta</a></li>
        <li><a href="/Paciente">Paciente</a></li>
        <li><a href="/Recepcionista">Recepcionista</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

